.header-bar {
	border-bottom: 1px solid var(--mantine-color-default-border);
}

.header-bar-item-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.ending {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
