<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <UseAppHost>false</UseAppHost>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <RuntimeFrameworkVersion>$(DotNetRuntimeVersion)</RuntimeFrameworkVersion>
    <RollForward>LatestPatch</RollForward>
  </PropertyGroup>
</Project>
